

.col1{
    margin-top: 50px;
    background-color:rgb(229, 234, 243);
   
}

.image{
    float: none;
    margin: 10px 10px;
    width: 152px;
    height: 170px;
    margin-left: 25%;
    border: solid black;
    border-radius: 10px;
}

.col2{
    background-color: rgb(238, 241, 245);
}

.row1{
    margin: 10px;
}
.icon1{
    margin-left: 15px;
   
}

.skill1{
    background-color: cyan;
    margin-left: 10px;
}
.lan1{
    margin-left: 46px;
}
.lan2{
    margin-left: 30px;
}
.lan3{
    margin-left: 55px;
}
.col3{
    background-color: rgb(229, 234, 243);
}